*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    cursor: url(img/mouse5.png), all-scroll;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    font-family: "Darumadrop One", sans-serif;
    padding-top: 5rem;
}
body{
    background-color: #d9b0a9;
    color: #f9f7f7;
    font-family: "Inter", sans-serif ;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; 
    overflow-x: hidden;
}
.pcadenza{
    margin: 0 auto;
    padding: 2rem 5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    color: #c98484;
}
.pcgrupo{
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.pcgrupo h2{
    font-weight: 700;
    font-size: 1.2rem;
    font-style: italic;
}
.pcadenza p{
    display: block;
    width: 85%;
    text-align: justify;
    font-size: 1rem;
}
.pcadenza li{
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 0;
}
.pctexto{
    height: auto;
}
.ctitulo{
    width: 100%;
    flex-direction: row;
    display: flex;
}
.cbrief{
    justify-content: flex-end;
}
.joker{
    height: 17rem;
}

/*SLIDER*/
.cslider{
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}
.pcgaleria{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: 100%;
}
.pcgaleria::-webkit-scrollbar{
    display: none;
}
.id{
    flex: 0 0 100%;
    height: 100%;
    scroll-snap-align: start;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem ;
}
.id img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    border-radius: 2rem;
    opacity: 0.8;
    
}
.id img:hover{
    opacity: 1;
}

/*botones slider*/
.cboton{
    bottom: 12rem;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #c27f7f;
    background: #d9b0a966;
    box-shadow: 0 2px 20px 2px #262a2ccc;
    position: absolute;
    justify-content: center;
    align-items: center; 
    font-family: "Darumadrop One", sans-serif; 
}
.cboton:hover{
    background-color: #d9b0a9;
    transform: scale(1.02);
    cursor: url(img/mouse6.png), all-scroll;
}
.cboton.antes{
    left: 2rem;
    right: auto;
    margin-left: 2rem;
}
.cboton.despues{ /*se ponen juntos sin espacio por que sino es como si fuera child de*/
    right: 2rem;
    left: auto;
    margin-right: 2rem;
}

@media (max-width: 900px){
    .ctitulo{
        width: auto;
        height: auto;
        flex-direction: column;
    }
    .cbrief.col-6{
        width: auto;
    }
    .cconcepto.col-6{
        width: auto;
    }
    .cboton{
        background-color: 0;
        box-shadow: 0 0 0 0 #262a2ccc;
        opacity: 40%;
        color: #c27f7f;
    } 
    /*no me ha dado a hacerlo perfecto el responsive :/*/
}

/*el coso para vovler a la pagina principal*/
.volver{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    align-items: flex-end;
    height: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: #c27f7f66;
}
.volver button{
    color: #c27f7f;
    font-family: "Darumadrop One", sans-serif;
    border: none;
    border-radius: 2rem;
    padding: 0.6rem 1.2rem;
    background-color: #f9f7f766;
    cursor: url(img/mouse6.png), all-scroll;
}
.volver button:hover{
    background-color: #d9b0a966;
}
a{
    text-decoration: none;
}