*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: rgba(39, 43, 44,1);
    background-color: #ffedc0;
    cursor: url(img/mouse1.png), all-scroll;
}
li .logo{
    z-index: 1000;
    width: 60px;
    height: 60px;
}
nav{
    background-color: rgba(250, 248, 247, 0.6);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s ease;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(121, 140, 145);
    font-weight: 500;
    font-size: large;
}
nav a:hover{
    background-color: rgba(250, 248, 247, 0.3);
    color: rgb(39, 43, 44);
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    backdrop-filter: blur(20px);
}
nav li:first-child{ /*no puedo utilizar la clase logo por que no se va a la esquina, no se por que :*/
    margin-right: auto;  
}
.vertical{
    position: fixed;
    margin: 0;
    padding-left: 0; /* Asegura que no haya padding izquierdo */
    top: 0;
    right: -200px; /* lo saco fuera de la pantalla */
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(250, 248, 247, 0.6);
    backdrop-filter: blur(8px);
    box-shadow: -10px 0 20px rgba(39, 43, 44, 1);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    transition: right 0.8s ease, opacity 0.8s ease, background-color 0.4s ease;
    opacity: 0;
}
.vertical.active{
    right: 0; /* lo meto en la pantalla */
    opacity: 1;
}
.vertical li{
    width: calc(100% - 24px);
    margin: 6px 12px;
    box-sizing: border-box;
    border-radius: 1rem;
    justify-content: flex-start;
   
}
.vertical a{
    width: 100%;
    justify-content: flex-start;
    margin: 10px;
}
.vertical a:hover{
    color: rgba(39, 43, 44, 1);
    background-color: rgba(250, 248, 247, 0.3);
    backdrop-filter: blur(20px);
}
nav a.circulo{
    justify-content: flex-start;
    background-color: 2rem;
    transition: background-color 0.4s ease;
}
nav.coloreado a.circulo, .vertical.coloreado{
    background-color: rgba(250, 248, 247, 0.8);
}
nav a.circulo, .vertical a.circulo{
    background-color:  rgba(250, 248, 247, 0.8);
    border-radius:2rem ;
    transition: background-color 0.4s ease;
}
nav.coloreado a.circulo, .vertical.coloreado a.circulo{
    background-color: transparent;
}
nav a.circulo:hover{
    background-color: rgba(250, 248, 247, 0.3);
    backdrop-filter: blur(20px);
}


main{
    max-width: 100%;
    margin-inline: auto; /* Centrar horizontalmente */
    text-align: justify;
    padding: 1rem 1.5em;
}
.container-fluid{
    background-color: rgba(169, 181, 190, 0.8);
    color: rgb(250, 248, 247);
}

h1{
    font-size: 3rem;
    font-weight: 600;
    font-family: "Inter", light, sans-serif;
}

h2{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4em;
}

img{
    max-width: 100%;
    border-radius: 30rem;
}
.galeria{
    cursor: url(img/mouse6.png), auto;
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    transform-style: preserve-3d; /* Habilitar el contexto 3D para los hijos */
}

.panel-galeria{
    flex: 1;
    aspect-ratio: 1/1.5;
    transition: 0.2s all; /* Transición suave para transformaciones */
    position: relative;
    
}

/*Efecto degradado*/
.panel-galeria::after{
    content: "";
    position: absolute;
    inset: 0; /* Cubrir todo el contenedor */
    pointer-events: none; /* Permitir interacción con la imagen */
    border-radius: 30rem;
    background: linear-gradient(to bottom rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 80%);
    z-index: 2;
    
}

.panel-galeria img{
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    opacity: 1;
    border-radius: 30rem;
    position: relative;
    z-index: 1;
    object-fit: cover; /* Mantener la proporción y recortar si es necesario */
    transition: 0.2s all;
    
}

.panel-galeria::after{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: 30rem;
    /* Degradado de arriba (blanco) a abajo (transparente) */
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 80%);
    z-index: 2;
}

.panel-galeria img:hover{
    border-radius: 30rem;
    transform: scale(1.2);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    z-index: 5; /* Asegurar que el panel activo esté por encima de los demás */
    opacity: 1;
    
}

/*derecha del hover*/
.panel-galeria:hover ~ .panel-galeria {
    transform: perspective(400px) scale(0.9) rotate(-20deg) ;
    opacity: 0.5;
}
/*izquierda del hover*/
.galeria:hover .panel-galeria:not(:hover):not(:hover ~ .panel-galeria) {
    transform: perspective(400px) scale(0.9) rotate(20deg);
    opacity: 0.5;
}




.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}



@media (max-width: 768px){
    .hide{
        display: none;
    }
}
@media (max-width: 400px){
    .vertical{
        width: 100%;
    }
}